<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionStringORCL" connectionString="DATA SOURCE=localhost:1521/orcl;DBA PRIVILEGE=SYSDBA;PASSWORD=123456;PERSIST SECURITY INFO=True;USER ID=SYSTEM"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <system.web>

   
        
        <roleManager enabled="true" />
        <authorization>
            <allow roles="Администратор" />
            <allow roles="Администратор" />
            <allow roles="Студент" />
        </authorization>

        <authentication mode="Forms">
        <forms  defaultUrl="~\visitor\default.aspx" loginUrl="~\visitor\login.aspx">

        </forms>
        </authentication>
        <compilation debug="true" targetFramework="4.0" />


        <!-- Настройка поставщика веб-события SimpleMailWebEventProvider -->
        
        <healthMonitoring enabled="true" heartbeatInterval="0">
 

            <providers>
                <add
                  name="exampleTemplatedMailWebEventProvider"
                  type="System.Web.Management.TemplatedMailWebEventProvider"
                  template="Template.aspx"
                  detailedTemplateErrors="true"
                  to="someone@contoso.com"
                  from="someone@contoso.com"
                  buffer="false"
                  bufferMode="Notification"
                  maxMessagesPerNotification="1"
                  maxEventsPerMessage="1"
          />
            </providers>

            <!-- Этот новый элемент rules настраивает поставщиков электронной почты для прослушивания всех веб-событий -->
            <rules>
                <add
                  name="Testing Templated Mail Event Providers"
                  eventName="Request Processing Events"
                  provider="exampleTemplatedMailWebEventProvider"
                  profile="Default"
                  minInstances="1"
                  maxLimit="Infinite"
                  minInterval="00:00:00"
                  custom=""
          />
            </rules>
            
        </healthMonitoring>
        
        <!--
  Настройка Глобального события Завершения сессии пользователя
  -->
        <sessionState mode="InProc"
         cookieless="true"
         timeout="20"/>
            
    </system.web>
   
    
    <!--
  Настройка приложения ASP.NET для отправки электронной почты
  -->
    
    <system.net>
       
        <mailSettings>
            <smtp deliveryMethod="Network" from="someone@contoso.com">
               
                <network
                  defaultCredentials="true"
                  host="smtpservername"

          />
                
            </smtp>
        </mailSettings>      
      
    </system.net>
    
    
    
</configuration>
